* {
  margin: 0;
  padding: 0;
  font-family: 'Geologica', sans-serif;
  justify-content: center;
}
.main_page {
  width: auto;
  height: auto;
  background: #ffffff;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header {
  background: #ffffff;
  width: 100%;
  height: 124px;
  display: flex;
}
.logo {
  width: 110px;
  height: 110px;
  padding-top: 7px;
}
.site_name {
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  padding-left: 24px;
  padding-top: 37px;
}
.point {
  width: 60px;
  height: 60px;
  padding-left: 560px;
  padding-top: 32px;
}
.head_location {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-left: 6px;
  padding-top: 37px;
  text-align: left;
}
.phone {
  width: 60px;
  height: 60px;
  padding-left: 127px;
  padding-top: 32px;
}
.head_phone {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  padding-left: 6px;
  padding-top: 37px;
  text-align: left;
}
.header_menu {
  display: flex;
  background: #303030;
  width: 100%;
  height: 52px;
}
.menu_main {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-top: 14px;
}
.menu_company {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 66px;
  padding-top: 14px;
}
.menu_service {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-left: 66px;
  padding-top: 14px;
}
.tg_form {
  display: flex;
  background: #ffffff;
  border-radius: 23px;
  width: 357px;
  height: 42px;
  margin-left: 712px;
  margin-top: 5px;
}
.tg_img {
  width: 32px;
  height: 32px;
  padding-left: 12px;
  padding-top: 4px;
}
.tg_form_text {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  padding-left: 46px;
  padding-top: 7px;
}
.main_img {
  width: 100%;
  height: 754px;
  object-fit: cover;
}
.service {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin-top: 88px;
}
.service_headline hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.service_back {
  display: flex;
  justify-content: center;
}
.service_customer {
  width: 380px;
  height: 400px;
  background: #ffffff;
  outline: 2px solid black;
  margin-top: 53px;
}
.cart {
  padding-top: 20px;
}
.customer_headline {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  padding-top: 26px;
  text-align: center;
}
.customer_underline {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 24px;
  text-align: center;
}
.customer_button {
  display: flex;
  background: #303030;
  width: 380px;
  height: 52px;
  margin-top: 64px;
}
.customer_button_text {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-left: 115px;
  padding-top: 11px;
  text-align: center;
}
.arrow1 {
  width: 36px;
  height: 36px;
  padding-left: 65px;
  padding-top: 8px;
}
.service_seller {
  width: 380px;
  height: 400px;
  background: #ffffff;
  outline: 2px solid black;
  margin-left: 60px;
  margin-top: 53px;
}
.key {
  padding-top: 20px;
}
.seller_headline {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  padding-top: 26px;
  text-align: center;
}
.seller_underline {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 24px;
  text-align: center;
}
.seller_button {
  display: flex;
  background: #303030;
  width: 380px;
  height: 52px;
  margin-top: 64px;
}
.seller_button_text {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-left: 115px;
  padding-top: 11px;
  text-align: center;
}
.arrow2 {
  width: 36px;
  height: 36px;
  padding-left: 65px;
  padding-top: 8px;
}
.info {
  display: flex;
}
.info_text {
  padding-top: 185px;
  text-align: left;
}
.info_headline {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}
.info_text hr{
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 5px;

  width: 673px;
}
.info_underline {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  padding-top: 12px;

}
.info_underline2 {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-top: 25px;
}
.tick_first {
  display: flex;
  padding-top: 35px;
  justify-content: left;
}
.tick1 {
  width: 34px;
  height: 34px;
}
.tick1_info {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 5px;
  padding-left: 25px;
  justify-content: center;
}
.tick2 {
  width: 34px;
  height: 34px;
  margin-left: 149px;
}
.tick2_info {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 5px;
  padding-left: 25px;
}
.tick_second {
  display: flex;
  padding-top: 35px;
  justify-content: left;
}
.tick3 {
  width: 34px;
  height: 34px;
}
.tick3_info {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 5px;
  padding-left: 25px;
}
.tick4 {
  width: 34px;
  height: 34px;
  margin-left: 126px;
}
.tick4_info {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 5px;
  padding-left: 25px;
}
.info_blocks {
  padding-top: 240px;
  padding-left: 70px;
}
.block1 {
  background: #303030;
  width: 540px;
  height: 60px;
}
.block1_headline {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 29px;
  text-align: left;
}
.block12 {
  background: #4C4C4C;
  width: 540px;
  height: 80px;
}
.block1_underline {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 29px;
  text-align: left;
}
.block2 {
  background: #303030;
  width: 540px;
  height: 60px;
  margin-top: 6px;
}
.block2_headline {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 29px;
  text-align: left;
}
.block3 {
  background: #303030;
  width: 540px;
  height: 60px;
  margin-top: 6px;
}
.block3_headline {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 29px;
  text-align: left;
}
.block4 {
  background: #303030;
  width: 540px;
  height: 60px;
  margin-top: 6px;
}
.block4_headline {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 29px;
  text-align: left;
}
.block5 {
  background: #303030;
  width: 540px;
  height: 60px;
  margin-top: 6px;
}
.block5_headline {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 15px;
  padding-left: 29px;
  text-align: left;
}
.realtor {
  padding-top: 224px;
  justify-content: center;
}
.realtor_headline {
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.realtor hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.realtor_block {
  padding-top: 84px;
  display: flex;
}
.realtor1 {

}
.realtor1_icon {
  background: #303030;
  width: 250px;
  height: 250px;
  border-radius: 100%;

}
.realtor1_img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}
.realtor1_name {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  padding-top: 25px;
}
.realtor1 hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 12px;
  width: 250px;
}
.realtor1_quote {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 25px;
}
.realtor2 {

}
.realtor2_icon {
  background: #303030;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 100px;
}
.realtor2_img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}
.realtor2_name {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.realtor2 hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 12px;
  margin-left: 100px;
  width: 250px;
}
.realtor2_quote {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.realtor3 {

}
.realtor3_icon {
  background: #303030;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 100px;
}
.realtor3_img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}
.realtor3_name {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.realtor3 hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 12px;
  margin-left: 100px;
  width: 250px;
}
.realtor3_quote {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.realtor4 {

}
.realtor4_icon {
  background: #303030;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-left: 100px;
}
.realtor4_img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}
.realtor4_name {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.realtor4 hr {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 12px;
  margin-left: 100px;
  width: 250px;
}
.realtor4_quote {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding-top: 25px;
  padding-left: 100px;
}
.application {
  background: #303030;
  width: 100%;
  height: 525px;
  margin-top: 192px;
}
.application_headline {
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  padding-top: 29px;
  text-align: center;
}
.application hr {
  border: none;
  height: 2px;
  background-color: white;
  margin-top: 5px;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.application_block {
  padding-top: 36px;
  display: flex;
}
.application_info_headline {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;

}
.application_info_underline {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  padding-top: 36px;
}
.dropdown_vacation {
  width: 660px;
  height: 30px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 130px;
}
.dropdown_type {
  width: 320px;
  height: 30px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 130px;
}
.dropdown_location {
  width: 320px;
  height: 30px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 16px;
}
.application_form2 {
  margin-top: 10px;
}
.application_form3 {
  margin-top: 10px;
}
.name_input {
  width: 285px;
  height: 30px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 130px;
}
.number_input {
  width: 285px;
  height: 30px;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 16px;
}
.text_input {
  width: 660px;
  height: 120px;
  padding: 10px 32px 10px 32px; /* Відступи: верх, правий, низ, лівий */
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  margin-left: 130px;
  margin-top: 10px;
  resize: none; /* Вимикає зміну розміру поля */
  box-sizing: border-box; /* Враховує відступи в розмірах */
}
.send_form {
  width: 660px;
  height: 60px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 130px;
  margin-top: 50px;
}
.footer {
  background: #303030;
  width: 100%;
  height: 390px;
  margin-top: 105px;
  display: flex;
}
.footer_logo {
  margin-top: 48px;
  display: flex;
  justify-content: left;
}
.footer_logo_img {
  width: 110px;
  height: 110px;
}
.footer_logo_name {
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  padding-top: 30px;
  padding-left: 26px;
}
.footer_desk {
  margin-top: 20px;
}
.footer_desk_text {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
}
.social {
  margin-right: 360px;
  margin-top: 20px;
  justify-content: left;

}
.footer_tg {
  margin-right: 46px;
}
.footer_tw {
  margin-right: 46px;
}
.footer_r {
  text-align: left;
  margin-left: 510px;
  margin-top: 94px;
}
.footer_contacts {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}
.footer_location {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 52px;
}
.footer_number {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.social a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.footer a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.header a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
.header_menu a {
  text-decoration: none;
}
